*.SearchResults
*.txt
*.jpg
*.ppt
*.ptp
*.zip
*.cof
*.mcs
*.mcp
*.mcw
*.o
*.ini
*.map
*.as
*.cod
*.dep
*.hxl
*.obj
*.lde
*.lst
*.p1
*.pre
*.rlf
*.sdb
*.sym
funclist
*.tmp
*.IAB
*.IAD
*.IMB
*.IMD
*.PRI
*.PS
*.WK3
*.PFI
*.PO
*.PR
*.cce
*.hex
cpu_18f4480/voice_4480/voice.X/Makefile
*.bash
*.xml
*.d
*.mk
*.properties
/cpu_18f4480/slave_4480/es15/insight_pj/*.lnk
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/cache/parse/*.sisc
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.sip_sym
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.sip_xab
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.sip_xad
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.sip_xc
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.sip_xf
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.sip_xm
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.sip_xr
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.sip_xsb
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.sip_xsd
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.siproj
/HOST/CAN_HOST_IO_TEST(IN)/can_host_io_test_in.si4project/*.siwork
/HOST/new_host_sim/*.orig
/HOST/new_host_sim/new_host_sim_v540.si4project/Backup/*.c
/HOST/new_host_sim/new_host_sim_v540.si4project/cache/parse/*.sisc
/HOST/new_host_sim/new_host_sim_v540.si4project/*.sip_sym
/HOST/new_host_sim/new_host_sim_v540.si4project/*.sip_xab
/HOST/new_host_sim/new_host_sim_v540.si4project/*.sip_xad
/HOST/new_host_sim/new_host_sim_v540.si4project/*.sip_xc
/HOST/new_host_sim/new_host_sim_v540.si4project/*.sip_xf
/HOST/new_host_sim/new_host_sim_v540.si4project/*.sip_xm
/HOST/new_host_sim/new_host_sim_v540.si4project/*.sip_xr
/HOST/new_host_sim/new_host_sim_v540.si4project/*.sip_xsb
/HOST/new_host_sim/new_host_sim_v540.si4project/*.sip_xsd
/HOST/new_host_sim/new_host_sim_v540.si4project/*.siproj
/HOST/new_host_sim/new_host_sim_v540.si4project/*.siwork
